    body {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    #documentViewer {
        height: 100%;
        width: 100%;
        position: relative;
    }
    
    #documentViewer #document {
        position: relative;
        height: 80%;
        width: 80%;
        background-repeat: no-repeat;
        background-image: url('artefact.jpg');
        background-size: contain;
        top: 50%;
        left: 50%;
        transform: scale(1) translate3d(-50%, -50%, 0);
        transition: transform .25s linear;
    }